#titolo {
    color: cornflowerblue;
    font-size: 5vw;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 5px 10px 8px rgb(94, 94, 94, 0.4);
    z-index: 10;
}
.sezione{
    text-align: justify;
}
.item{
    width: 100%;
    height: 9%;
    background-color: red;
    z-index: 11;
}
.item:hover{
    transform: scale(1.1);
    filter: brightness(0.7);
    transition: all 0.7s ease-in-out;
    overflow: hidden;
}
h2{
    color: aqua;
    text-align: left;
}
h3{
    color: coral;
}
.testoDestra{
    text-align:  right;
}
.testoSinistra{
 text-align: left;
}
#menu {
    color: white;
    float: left;
    flex-flow: row wrap;
    display: table;
    background-color: cornflowerblue;
    margin-right: 5%;
    margin-bottom: 5%;
    cursor: pointer;
}
#menu div.bloccoPrimario {
    flex: auto;
    order: 1;
}
#menu div.bloccoRipetibile {
    flex: auto;
    order: 2;
}
#menu h4 {
    color: rgba(90, 90, 90, 1);
}
html,body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
nav#site-nav {
    box-shadow: 5px 10px 8px rgb(94, 94, 94, 0.4);
    position: fixed;
    width: 100%;
    min-width: fit-content;
    text-align: initial;
    box-sizing: content-box;
    z-index: 12;
}
nav#site-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    background-color: cornflowerblue;
    padding-left: 53.33px;
    padding-right: 80px;
}
nav#site-nav ul li {
    display: inline-block;
    margin-right: 10px;
    padding: 5px;
}
#site-nav ul li img {
    float: right;
    padding: 5px 0;
    padding-top: 0px;
    display: block;
    width: 22%;
    height: 22%;
}
nav#site-nav ul li a {
    font-weight: bold;
    padding: 5px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}
nav#site-nav ul li a.active {
    background: cornflowerblue;
    color: white;
}
nav#site-nav ul li a:hover {
    transition: ease-in-out 0.3s;
    background: cornflowerblue;
}
#site-nav ul li.zoom {
    transition: transform .2s;
}
li.zoom:hover {
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}
div#contenitore {
    margin-left: 80px;
    margin-right: 80px;
    background-color: white;
    padding-top: 30px;
    padding-left: 5%;
    margin-bottom: 5%;
}
footer {
    background: cornflowerblue;
    color: white;
    border-style: solid;
    border-top: none;
}
footer table.footer-table tr td {
    border-color: white;
    border-style: solid;
    border-bottom: none;
    border-left: none;
    border-top: none;
    border-width: 3px;
    width: 100%;
    caption-side: bottom;
    border-collapse: collapse;
}
a:link {
    font-family: fantasy;
    text-decoration: none;
}
a:visited {
    color: white;
    text-decoration: none;
}
a:hover {
    color: hotpink;
    text-decoration: none;
}
a:active {
    color: white;
    text-decoration: none;
}