#titolo {
    color: red;
    font-size: 10vw;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 5px 10px 8px rgb(94, 94, 94, 0.4);
}

ciao 

#menu {
    color: white;
    background-color: #f39200;
    display: flex;
    flex-flow: row wrap;
}

#menu div.bloccoPrimario {
    flex: auto;
    order: 1;
}

#menu div.bloccoRipetibile {
    flex: auto;
    order: 2;
}

#menu h4 {
    color: rgba(90, 90, 90, 1);
}

#menu a:hover {
    color: aqua;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav#site-nav {
    box-shadow: 5px 10px 8px rgb(94, 94, 94, 0.4);
    /* "position: fixed" farà si che, scendendo con la barra, la sezione "nav" rimanga bloccata nello schermo */
    position: fixed;
    width: 100%;
    min-width: fit-content;
    text-align: initial;
    box-sizing: content-box;
}

nav#site-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    background-color: #f39200;
    padding-left: 53.33px;
    padding-right: 80px;
}

nav#site-nav ul li {
    display: inline-block;
    margin-right: 10px;
    padding: 5px;
}

#site-nav ul li img {
    float: right;
    padding: 5px 0;
    padding-top: 0px;
    display: block;
    width: 22%;
    height: 22%;
}

nav#site-nav ul li a {
    font-weight: bold;
    padding: 5px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    border-style: solid;
    border-color: white;
    border-right: none;
    border-bottom: none;
    border-top: none;
}

nav#site-nav ul li a.active {
    background: #dfb87d;
    color: white;
}

nav#site-nav ul li a:hover {
    transition: ease-in-out 0.3s;
    background: #bf7608;
}

#site-nav ul li.zoom {
    transition: transform .2s;
}

li.zoom:hover {
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

div.contenitore {
    margin-left: 80px;
    margin-right: 80px;
    background-color: white;
    padding-top: 30px;
}

footer {
    background: #f39200;
    color: white;
    border-style: solid;
    border-top: none;
}
footer table.footer-table tr td {
    border-color: white;
    border-style: solid;
    border-bottom: none;
    border-left: none;
    border-top: none;
    border-width: 3px;
    width: 100%;
    caption-side: bottom;
    border-collapse: collapse;
}